

.dot-canvas{
  width:100vw;
  max-width:920px;
  height:auto; // auto로 해주면 width와 길이가 같아짐
  max-height: 920px;
  position: relative;
  background-image:url("../../transparent-bg.png");

  canvas {
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    position: relative;
  }
  .canv {
    z-index: 3;
  }
  .back-canv {
    z-index: 2;
    position: absolute;
  }
}
