
@import '../../../asset/fontawsome/scss/fontawesome.scss';
@import '../../../asset/fontawsome/scss/_variables.scss';
@import '../../../asset/fontawsome/scss/_icons.scss';

.drawer-menu {
  width:100%;
  height:100vh;
  position: fixed;
  top:0;
  left:-100%;
  z-index: 3;

  & *{
    color: #fff;
  }

  &.active {
    left:0;
  }

  &.active > nav{
    left:0;
  }

  nav {
    width:20%;
    min-width: 16rem;
    height:100%;
    background: #f07272;
    position: relative;
    left:-20%;
    float:left;
    z-index: 3;
    transition: 0.6s;



    .drawer-close-btn{
      position: relative;
      float:right;
      top:1rem;
      right:1rem;


      i{
        color:#fff;
        font-size:1.8rem;
      }
    }

    ul {
      margin-top:5rem;

      li {
        background: #e86968;
        cursor: pointer;
        transition: .5s;
        height:4rem;

        &:hover {
          background: #d1615e;
        }

        button{
          width:100%;
          height:100%;
          font-size:1.14rem;
          flex-direction: column;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

  }

  &.active::after {
    z-index:2;
    content:'';
    float:left;
    position: absolute;
    left:0;
    top:0;
    display: block;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
  }
}
