*{
  box-sizing: border-box;
  margin:0 auto;
  padding:0;
  list-style: none;
  text-decoration: none;
  color:#444;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}


.bmenu {
  width:100%;
  background: lightcoral;
  height: 8rem;
}
